<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OAuth_Request_Crafter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <OAuth_Request_Crafter.My.MySettings>
            <setting name="xurl" serializeAs="String">
                <value />
            </setting>
            <setting name="xmethod" serializeAs="String">
                <value />
            </setting>
            <setting name="xparams" serializeAs="String">
                <value />
            </setting>
            <setting name="xversion" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="xsig" serializeAs="String">
                <value>HMAC-SHA1</value>
            </setting>
            <setting name="xck" serializeAs="String">
                <value />
            </setting>
            <setting name="xcs" serializeAs="String">
                <value />
            </setting>
            <setting name="xt" serializeAs="String">
                <value />
            </setting>
            <setting name="xts" serializeAs="String">
                <value />
            </setting>
            <setting name="paddress" serializeAs="String">
                <value />
            </setting>
            <setting name="pport" serializeAs="String">
                <value />
            </setting>
            <setting name="pusername" serializeAs="String">
                <value />
            </setting>
            <setting name="ppassword" serializeAs="String">
                <value />
            </setting>
        </OAuth_Request_Crafter.My.MySettings>
    </userSettings>
</configuration>
